/* 

 Basic styles for FoundationPress demo site

*/



 // Edits

@media (max-width: 64em){ 

* {
	font-size: 18px;
}
strong {
	font-size: 18px;
}
//Nav


header.parralax {
	display: none;
	height: 150px;
	
	
	position: relative;
	
	width: 100%;
	background-position: top center;
	background-size: 100% ;
	background-repeat: no-repeat;	
	&:after{	
		position: absolute;
		content:"";
		top:0;
		left:0;
		width:100%;
		height:100%;
		opacity:0.5;
		background-color: black;
		z-index: 0;
	}
	.entry-title-container{
		bottom: 5px;
        left: 10px;
	}
	h1 {
	text-transform: uppercase;
	position: relative;
	z-index: 99;
	letter-spacing: 3px;
	}
	
}

#footer {
	margin-top: $gap*3;
	padding-top: $gap;
	padding-bottom: $gap*3;
	background-color: black;
	
	position: relative;
	z-index: 1;
	.logotype{
		height: auto;
		width: 10%;
		margin: $gap 45%;
		@media only screen and (max-width: $row-width) {
		width: 20%;
		margin: $gap 40%;
	}

	}
	.widget_text p {
		color: white;
		font-size: 12px;
		text-transform: uppercase;
		text-align: center;
		
	}
	
	h4{
		text-transform: uppercase;
		width: 100%;
		text-align: center;
		font-size: 18px;
		padding-bottom: 10px;
		margin-bottom: 10px;
		/* border-bottom: 1px solid; */
	}
	.button{
		border: 0px solid white;
		text-transform: uppercase;
		background: #710833;
			i{
			font-size: 12px;
			margin-right: 10px;
			display: none;
			}
		font-size: 12px;
		/* max-width: 90%; */
		padding: 7%;
		width: 100%;
		&:hover{
			border: 1px solid white;
		}
	}
	input[type="text"] {
		background: transparent;
		border: none;
		border-bottom: 1px solid white;
		text-transform: uppercase;
		font-size: 14px;
		color: white;
		box-shadow: none;
		opacity: 1;
	}
}

.reveal-modal{
	background: #710833;
	* {
		color: white !important;
	}
}

// Page layout

.main-row {
	padding-top: 2*$gap;
} 
.post-6	{
	margin-top: 1em;
	
	img {
		margin-bottom: $gap;
	}
	.twitter:before {
		content: '\f202';
		color: $primary-color;
	}
	ul,li {
		list-style: none;
		font-size: 14px;
	}
	.button {
		text-transform: uppercase;
		font-size: 14px;
		background: $pinot;
		i {
			margin-right: $gap;
		}
	}
}

h3 {
	color: black;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 18px;
	padding-top: $gap;
}

.entry-content p {
	padding-left: 10px;
	padding-right: 10px;
}

}
