
body.archive{
	h1.product_title{
		display: none;
	}
	button, .button{
		font-size: 14px;
		text-transform: uppercase;
	}
	select.qty {
		height:49px;
		width:50px;
	}
}

.woocommerce-breadcrumb{
	display: none;
}
.wcbreadcrumbs {
	width: 80%;
	a {
		color: white;
		font-size: 32px;
		border-right: 2px solid white;
		padding-right: 10px;
		&:hover{
			color: $pinot;
		}
	}

}
.ratings{
	margin-bottom: $gap;
.top-rating{
	font-size: $paragraph-font-size;
	margin-right: $gap/2;
	&:before {
	margin-right: $gap/2;
	color: $pinot;
	}
}
.see-all{
	font-size: $paragraph-font-size;
	color: $pinot;
	
}
}



head+.single-product{
h1.product_title{
		display: none;
	}
	select.qty {
		height:49px;
		width:50px;
	}
	button, .button{
		font-size: 14px;
		text-transform: uppercase;
	}

.woocommerce-tabs{
	margin-top: 2*$gap;
	ul {
		li{
			display: inline-block;
			padding: $gap/2 $gap*2;
			a{
				font-size: 14px;
				text-transform: uppercase;
			}
		}
		.active,.panel{
			background-color: #e7e7e7;
		}
	}
}
}