head+.home{
	/* border: 10px solid black; */
	max-height: 100vh;
//Floating bar
	.logo{
		display: none;
	}
	.logotype{
	width: 70%;
	margin: 72px 15%;
	}
//Parallax.js
.window-height{
	height: 100vh;
	width: auto;
	overflow: hidden;
	li {
		width: 100%;
	}
}

}

head+.blog{
background-color: #e7e7e7;

article{
	position: relative;
	background-color: white;
	margin-top: 2*$gap;
	margin-bottom: 3*$gap;
	padding: 2*$gap;
	.entry-title{
		margin-bottom: $gap*2;
		a{font-size: 24px;}
	}
	hr{
		display:none;
	}
	.more-link{
		text-transform: uppercase;
		font-size: 14px;
		background: $pinot;
		padding: $gap $gap*2;
		color: white;
		position: absolute;
		right: 0px;
		bottom: 0px;
	}
}
}
