.tab-bar{
		margin-bottom: 0;
		height: 0;
		
		.left-small{
			background-color: $pinot;
			position: fixed;
			-webkit-backface-visibility: hidden;
			z-index: 1003;
			left: $gap;
			top: $gap;
			
			span{
				font-size: 14px;
				color: white;
				width:$tabbar-icon-width;
				text-align: center;
				display: inline-block;
			}
		 }
		}
		
.left-off-canvas-menu {
	
	.logotype{

	width: 40%;
	margin: 0 30% $gap;
	
	}
	.logo{
		
		width: 70%;
		margin: $gap 15%;
	}
	ul {
		margin-left: 0;
		padding-left: 15%;
		padding-right: 15%;
		padding-top: $gap*2;
		width: 100%;
		list-style: none;
		li {
			hr{
				margin: $gap/4 0px $gap/2;
				width: 10%;
				@include single-transition(width, 1s);
				}
			&:hover hr{
						width: 100%;
						@include single-transition(width, 1s);
						}
			&.active hr {
				width: 100%;
			}
			
			a {
				text-transform: uppercase;
				font-size: 18px;
				color: black;
				&:hover {color:#700032;}
			
			}
			
		}
	}

}
.move-right .exit-off-canvas{
	background-color: rgba(0,0,0,0.74);
	box-shadow: none;
}